@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("../../fonts/Gilroy-ExtraBold"), url("../../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("../../fonts/Gilroy-Heavy"), url("../../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Heavy.woff") format("woff"), url("../../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("../../fonts/Gilroy-LightItalic"), url("../../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-LightItalic.woff") format("woff"), url("../../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("../../fonts/Gilroy-ThinItalic"), url("../../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("../../fonts/Gilroy-BlackItalic"), url("../../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("../../fonts/Gilroy-BoldItalic"), url("../../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("../../fonts/Gilroy-SemiBold"), url("../../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-SemiBold.woff") format("woff"), url("../../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("../../fonts/Gilroy-UltraLightItalic"), url("../../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-SemiBoldItalic.eot");
  src: local("Gilroy SemiBold Italic"), local("../../fonts/Gilroy-SemiBoldItalic"), url("../../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("../../fonts/Gilroy-Light"), url("../../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Light.woff") format("woff"), url("../../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("../../fonts/Gilroy-MediumItalic"), url("../../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-ExtraBoldItalic.eot");
  src: local("Gilroy ExtraBold Italic"), local("../../fonts/Gilroy-ExtraBoldItalic"), url("../../fonts/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("../../fonts/Gilroy-Regular"), url("../../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("../../fonts/Gilroy-HeavyItalic"), url("../../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("../../fonts/Gilroy-Medium"), url("../../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("../../fonts/Gilroy-RegularItalic"), url("../../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("../../fonts/Gilroy-UltraLight"), url("../../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-UltraLight.woff") format("woff"), url("../../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("../../fonts/Gilroy-Bold"), url("../../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("../../fonts/Gilroy-Thin"), url("../../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Thin.woff") format("woff"), url("../../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("../../fonts/Gilroy-Black"), url("../../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Black.woff") format("woff"), url("../../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro3';
  src: url("../../fonts/TrajanPro3-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

body {
  font-family: "Gilroy";
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #65c466;
  height: 70px;
  border-radius: 5px;
}

.hamburger-menu__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-left: 28px;
}

.hamburger-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 23px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hamburger-menu__icon {
  position: relative;
  display: block;
  background: #ffffff;
  width: 24px;
  height: 2px;
  border: 1px solid #ffffff;
}

.hamburger-menu__icon::after, .hamburger-menu__icon::before {
  position: absolute;
  left: -1px;
  top: -6px;
  display: block;
  content: "";
  background-color: #ffffff;
  width: 24px;
  border: 1px solid #ffffff;
}

.hamburger-menu__icon::after {
  top: 4px;
}

.hamburger-menu__checkbox:checked ~ .hamburger-menu__icon::after {
  top: 0;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.hamburger-menu__checkbox:checked ~ .hamburger-menu__icon::before {
  top: 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.hamburger-menu__checkbox:checked ~ .hamburger-menu__icon {
  top: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.menu {
  position: fixed;
  padding-top: 20px;
  padding-right: 23px;
  padding-left: 28px;
  top: 67px;
  height: 618px;
  background-color: #65c466;
  margin: 0 auto;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 50;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu__label {
  position: relative;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
}

.menu__input {
  display: block;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  width: 269px;
  height: 35px;
  padding: 8px;
}

.menu__search-button {
  position: absolute;
  top: 0;
  left: 234px;
  padding: 0;
  line-height: 0;
  height: 35px;
  width: 35px;
  z-index: 60;
  border: none;
  background: #f0f0f0;
  border-radius: 10px;
  color: #65c466;
}

.menu__icon {
  fill: currentColor;
}

.menu__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__user-avatar {
  width: 27px;
  height: 27px;
  fill: currentColor;
}

.menu__registration-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 124%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.menu__user-avatar {
  display: block;
  fill: #ffffff;
  width: 27px;
  height: 27px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.menu .is-hidden {
  display: none;
}

.mobile-menu-nav {
  margin-bottom: 21px;
}

.mobile-menu-nav__item {
  margin-bottom: 15px;
}

.mobile-menu-nav__link, .mobile-menu-nav__title {
  font-size: 16px;
  line-height: 1.1875;
  text-transform: uppercase;
  cursor: pointer;
  color: #294b29;
}

.mobile-menu-nav__submenu {
  display: block;
  margin-left: 10px;
}

.submenu__link {
  font-size: 10px;
  line-height: 120%;
  color: #294b29;
}

.call-us__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  color: #ffffff;
  margin-bottom: 19px;
}

.call-us__phone p {
  font-weight: 600;
  font-size: 12px;
  line-height: 116.66667%;
  color: #ffffff;
}

.call-us__icon {
  width: 13px;
  height: 13px;
  fill: currentColor;
}

.call-us__button {
  width: 269px;
  height: 47px;
  background: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 121.42857%;
  text-align: center;
  text-transform: uppercase;
  color: #65c466;
}
/*# sourceMappingURL=main.css.map */