.footer {
  position: relative;
  background-color: $footer-background-color;

  &__copyrights {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: $font-family-gilroy;
    font-size: 11px;
    line-height: 18 / 11 * 100%;

    text-align: center;

    color: $secondary-footer-text-color;
    width: 100%;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }

  &__menu-item {
    font-family: $font-family-gilroy;
    font-weight: 700;
    font-size: 14px;
    line-height: 17 / 14 * 100%;

    display: flex;
    align-items: center;

    text-transform: uppercase;

    color: $main-footer-text-color;
    width: calc((100% - 10px) / 2);
    margin-bottom: 20px;
  }

  &__contacts {
    margin-bottom: 25px;
  }

  &__phone {
    font-family: $font-family-gilroy;
    font-weight: 600;
    font-size: 14px;
    line-height: 18 / 14 * 100%;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: $secondary-footer-text-color;
    margin-bottom: 10px;
  }

  &__mail {
    font-family: $font-family-gilroy;
    font-weight: 600;
    font-size: 13px;
    line-height: 16 / 13 * 100%;
    display: flex;
    align-items: center;

    color: $secondary-footer-text-color;
  }

  &__address {
    font-family: $font-family-gilroy;
    font-size: 11px;
    line-height: 13 / 11 * 100%;
    text-align: center;

    color: $main-footer-text-color;
    padding-bottom: 30px;

    width: 100%;
  }
}
