.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $accent-color;
  height: 70px;
  border-radius: 5px;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: $main-header-text-color;
    margin-left: 28px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 23px;

    border-radius: 50%;
    box-shadow: $box-shadow;
    cursor: pointer;
  }

  &__icon {
    position: relative;
    display: block;
    background: $main-header-text-color;
    width: 24px;
    height: 2px;
    border: 1px solid $main-header-text-color;

    &::after,
    &::before {
      position: absolute;
      left: -1px;
      top: -6px;
      display: block;
      content: "";
      background-color: $main-header-text-color;
      width: 24px;
      border: 1px solid $main-header-text-color;
    }

    &::after {
      top: 4px;
    }

    .header__checkbox:checked ~ &::after {
      top: 0;
      transform: rotateZ(90deg);
    }

    .header__checkbox:checked ~ &::before {
      top: 0;
      transform: rotateZ(-90deg);
    }

    .header__checkbox:checked ~ & {
      top: 0;
      transform: rotateZ(45deg);
    }
  }
}
