.menu {
  position: fixed;
  padding-top: 20px;
  padding-right: 23px;
  padding-left: 28px;
  top: 67px;

  height: 618px;
  background-color: $accent-color;

  margin: 0 auto;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 50;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__label {
    position: relative;
    box-shadow: $box-shadow;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
  }

  &__input {
    display: block;
    background: $main-header-text-color;
    border-radius: 10px;
    border: none;

    width: 269px;
    height: 35px;
    padding: 8px;
  }

  &__search-button {
    position: absolute;
    top: 0;
    left: 234px;
    padding: 0;
    line-height: 0;
    height: 35px;
    width: 35px;
    z-index: 60;

    border: none;
    background: $button-background-color;
    border-radius: 10px;
    color: $accent-color;
  }

  &__icon {
    fill: currentColor;
  }

  &__registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__user-avatar {
    width: 27px;
    height: 27px;
    fill: currentColor;
  }

  &__registration-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;

    color: $main-header-text-color;
  }

  &__user-avatar {
    display: block;
    fill: $main-header-text-color;
    width: 27px;
    height: 27px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .is-hidden {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: 21px;

  &__item {
    margin-bottom: 15px;
  }

  &__link,
  &__title {
    font-size: 16px;
    line-height: 1.1875;
    text-transform: uppercase;
    cursor: pointer;

    color: $menu-text-color;
  }

  &__submenu {
    display: block;
    margin-left: 10px;
  }
}

.submenu {
  &__link {
    font-size: 10px;
    line-height: 120%;

    color: $menu-text-color;
  }
}
