.burger-menu {
  position: fixed;
  padding-top: 20px;
  padding-right: 11px;
  padding-left: 16px;
  top: 67px;
  // width: 296px;
  width: $mobile - 2 * $mobile-container-padding;

  height: 618px;
  background-color: $accent-color;

  margin: 0 auto;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 50;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__label {
    position: relative;
    box-shadow: $box-shadow;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
  }

  &__input {
    display: block;
    background: $main-header-text-color;
    border-radius: 10px;
    border: none;

    max-width: 269px;
    height: 35px;
    padding: 8px;
  }

  &__search-button {
    position: absolute;
    top: 0;
    left: 234px;
    padding: 0;
    line-height: 0;
    height: 35px;
    width: 35px;
    z-index: 60;

    border: none;
    background: $button-background-color;
    border-radius: 10px;
    color: $accent-color;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__user-avatar {
    display: block;
    fill: $main-header-text-color;
    width: 27px;
    height: 27px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  &__registration-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;

    color: $main-header-text-color;
  }

  .is-hidden {
    display: none;
  }
}
