.call-us {
  &__phone-body {
    margin-bottom: 19px;
  }

  &__phone {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22/18 * 100%;

    color: $main-header-text-color;
  }

  &__phone-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 14/12 * 100%;

    color: $main-header-text-color;
  }

  &__icon {
    width: 13px;
    height: 13px;
    fill: currentColor;
  }

  &__button {
    width: 269px;
    height: 47px;

    background: $main-header-text-color;
    border: 2px solid $main-header-text-color;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 28px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17/14 * 100%;
    text-align: center;
    text-transform: uppercase;

    color: $accent-color;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
