.hamburger-menu {
    display: flex;
    justify-content: space-between;
    background-color: $accent-color;
    padding: 0 12px;
}

.hamburger-menu__title {
    font-family: $font-family-gilroy;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
}

.hamburger-menu__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger-menu__span {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    background: $main-header-text-color;
}

.hamburger-menu__span::after,
.hamburger-menu__span::before {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: $main-header-text-color;
    left: 0;
    top: -5px;
}

.hamburger-menu__span::after {
    top: 5px;
}

.hamburger-menu__checkbox:checked ~ .hamburger-menu__span::after {
    transform: rotateZ(45deg);
    top: 0;
}

.hamburger-menu__checkbox:checked ~ .hamburger-menu__span::before {
    transform: rotateZ(-45deg);
    top: 0;
}

.hamburger-menu__checkbox:checked ~ .hamburger-menu__label {
    background-color: $accent-color;
    
}
