.social__list {
  position: absolute;
  right: 12px;
  bottom: 87px;
  display: flex;
  align-items: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  @extend %flex__center;
  color: $footer-background-color;
  background-color: $main-footer-text-color;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: background-color $anim-duration $anim-timing-function,
    color $anim-duration $anim-timing-function;

  &:focus,
  &:hover {
    background-color: $footer-background-color;
    color: $main-footer-text-color;
  }
}

.social__icon {
  @include settings__icons(currentColor, 12px, 12px);
}

.footer__social-list {
  align-items: baseline;
}

.footer__social-link {
  background: $main-footer-text-color;
  color: $footer-background-color;
}
