$main-header-text-color: #ffffff;

$main-text-color: #414141;
$secondary-text-color: #CCCCCC;
$accent-color: #65C466;
$confident-checkbox-text-color:#A3A3A3;
$confident-checkbox-bg-color:#FFFDF9;
$position-:#E8E2D5;
$specifics-title-color: #696969;
$specifics-text-color: #9D9D9D;
$consultation-second-text-color: #A9A9A9;
$consultation-icon-color: #C2C1C2;
$placeholder-color:#C2C2C2;

$main-footer-text-color: #ffffff;
$secondary-footer-text-color: #959AA6;

$font-family-roboto: 'Roboto', sans-serif;
$font-family-gilroy: "Gilroy";
$font-family-trajan-pro-3: "TrajanPro3";

$anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$anim-duration: 250ms;